*{
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 10vh;
    background-color: #0a0908;
    position: sticky;
    top: 0px;
    z-index: 123;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}
 
#link{
   
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 300px;
    align-items: center;
    font-family: 'Geomanist';
    padding: 5px;
    
    
    

}

.links > a{
    color: white;
    transition: all 0.5s;
    font-size: 20px;
 
    
    
}
.links > a:hover{
    color: #0466c8;
    transition: all 0.5s;
    font-size: 22px;
  
    
}
header > h3{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
 
    position: static;
    display: flex;
    width: 200px;
    height: 40px;
    
    justify-content: center;
    align-items: center;
}
header > h3:hover{
    font-size: 45px;
   
   
    cursor: pointer;
    
}
header > h3 > a{
    text-decoration: none;
    color: #e5e5e5;
    transition: all 0.3s;
}
header > h3 > a:hover{
    color: #0466c8;
    transition: all 0.3s;
}
a{
    text-decoration: none;
}
#banner{
    height: 60vh;
    width: 100%;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
#banner > img {
    width: 100%;
    position: relative;
    bottom: 160px;
    
    filter: brightness(40%);
   

  
}

#banner > div > h1{
    text-align: center;
    font-family: 'Simplifica';

  
    font-size: 70px;
    letter-spacing: 8px;
  
    color: rgb(255, 255, 255);
   

   
  
}
#banner div, #banner img{
    position: absolute;
}

#banner > div > h1 > b{
    font-family: 'scratch';
    font-size: 120px;
    font-weight: 900;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff6600;
  
}
.botoestitulo{
  width: 190px;
  border: solid 3px white;
  height: 40px;

  text-decoration: none;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Geomanist';
  transition: all 200ms;

} 
.botoestitulo:hover{
    background-color: white;
    color: #0a0908;
    transition: all 200ms;
}
.vermais{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
#conteudo{
    padding: 50px;
    background-color: #e5e5e5;
    display: flex;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 13vh;



}
#sobrescratch{
 font-size: 30px;
 
 height: 30vh;
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(5, 1fr);


}
#sobrescratch > a > img{
    width: 320px;
    border-radius: 20px;
    grid-row: 1 / 5;
    grid-column: 5 / 6;
    transition: all 400ms;
    box-shadow: 5px 0px 5px 1px gray;
}
#sobrescratch > a > img:hover{
    width: 350px;
    transition: all 400ms;
    box-shadow: 0px 10px 10px 5px gray;

}
#sobrescratch img{
    position: absolute;
}
#sobrescratch > a {
    grid-row: 1 / 5;
    grid-column: 5 / 6;
}
#sobrescratch > h2{
    font-size: 40px;
    font-family: 'Geomanist';
    color: #0a0908;
    grid-row: 1 / 1;
    grid-column: 1 / 3;

}
#sobrescratch > p{
    grid-row: 2 / 5;
    font-size: 20px;
    font-family: 'Arial';
   
    grid-column: 1 / 4;
}
#sobrescratch > h2 > span{
    font-family: 'scratch';
    font-size: 45px;
    -webkit-text-stroke-width: 1px;
    color: white;
    -webkit-text-stroke-color: #ff6600;
}
#jogos{
    width: 100%;
    vertical-align: ;
    background-color: #000814;
    display: grid;
    

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

    padding: 30px;
    gap: 30px;
   
    
    

}
#jogos > h1{
    grid-column: 1 / 6;
    grid-row: 1 /2 ;
}
.games{
    background-color: #e5e5e5;
    height: 400px;
    width: 250px;
    

    

}



@font-face {
    font-family: 'Open Sans';
    src: url(assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
    
}
@font-face {
    font-family: 'Geomanist';
    src: url(assets/fonts/Geomanist-Regular.otf);

}
@font-face {
    font-family: 'Simplifica';
    src: url(assets/fonts/SIMPLIFICA\ Typeface.ttf);
}
@font-face {
    font-family: 'scratch';
    src: url(assets/fonts/Scratch_.ttf);
}